<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <!--Local-->
    <add key="PostGLGroup" value="d:\XML\Payroll Group Xml\GL JournalGroup "/>
    <add key="PostGLLine" value="d:\XML\Payroll Line Xml\GL JournalLines "/>
    <add key="PostEmployee" value="d:\XML\Payroll Employee Xml\Employee "/>
    <!--Test-->
    <!--<add key="PostGLGroup" value="\\192.160.1.10\c$\Service Connect\Test Server\JV Group\InPut\GL JournalGroup "/>
    <add key="PostGLLine" value="\\192.160.1.10\c#\Service Connect\Test Server\JV Detail\InPut\GL JournalLines "/>-->
    <!--Live-->
    <!--<add key="PostGLGroup" value="\\192.160.1.10\c$\Service Connect\Live Server\JV Group\InPut\GL JournalGroup "/>
    <add key="PostGLLine" value="\\192.160.1.10\c$\Service Connect\Live Server\JV Detail\InPut\GL JournalLines "/>-->
  </appSettings>
  <connectionStrings>
    <!--Local-->
    <!--<add name="SProll" connectionString="Data Source=TOSHIBA;Initial Catalog=Payroll_07Aug2020;Persist Security Info=True;User ID=sa;Password=corp@123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="SProll" connectionString="Data Source=.;Initial Catalog=Payroll;Persist Security Info=True;User ID=payroll;Password=payroll" providerName="System.Data.SqlClient"/>-->
    <!--Test-->
    <!--<add name="SProll" connectionString="Data Source=192.160.1.12;Initial Catalog=PayrollTest_19Jan2021;Persist Security Info=True;User ID=payroll;Password=payroll@teipl" providerName="System.Data.SqlClient"/>-->
    <!--Live-->
    <!--<add name="SProll" connectionString="Data Source=192.160.1.12;Initial Catalog=PayrollTest30Sept2020;Persist Security Info=True;User ID=payroll;Password=payroll@teipl" providerName="System.Data.SqlClient"/>-->
    <add name="con" connectionString="Data Source=DESKTOP-TU40LE6\SQLEXPRESS;Initial Catalog=LordsDB;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <!--<add name="SProll" connectionString="Data Source=RAJESH-PC;Initial Catalog=TEIPayroll1Apr;Persist Security Info=True;Integrated Security=true;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="1048576"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <authentication mode="Windows"/>
    <!--<globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>-->
        <add assembly="AjaxControls" namespace="AjaxControls" tagPrefix="cc1"/>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="cc1"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" namespace="Microsoft.Reporting.WebForms" tagPrefix="rsweb"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <customErrors defaultRedirect="~/ErrorPage.aspx" mode="RemoteOnly">
      <error statusCode="404" redirect="~/ErrorPage.aspx"/>
    </customErrors>
    <sessionState mode="InProc" timeout="500"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  <!--<system.net>
    <mailSettings>
      <smtp from="itcare@corporateserve.com">
        -->
  <!--<network host="172.16.0.119" port="25" userName="itcare" password="asdf@123"/>-->
  <!--
        <network host="182.73.81.140" port="25" userName="itcare" password="asdf"/>
      </smtp>
    </mailSettings>
  </system.net>-->
</configuration>